:root {
    background-color: #eff1ed;
    font-family: 'elizeth', serif;
    color: #2F4858;
    font-size: 13px;
}
.container {
    background-color: #fff;
    margin: 30px 60px;
    box-shadow: 0 2px 16px 2px #2F4858;
    padding: 80px;
}
.headGrid {
    display: grid;
    grid-template-columns: minmax(0, 900px) 1fr 1fr;
    grid-template-rows: auto;
}
hr {
  grid-column: 1 / -1;
  margin: 0;
  border: none;
}
.top_hrule {
  height: 1px;
  background-color: #2F4858;
  margin-top: 8px;
}
.low_hrule {
  height: 100px;
  background-color: #2F4858;
}
h1 {
  font-size: 80px;
  grid-column: 1 / -1;
  margin: 6px 0;
}
.mobile-nav-wrap {
    grid-column: 1/ -1;
}
.headGrid > p {
  margin: 0;
}
#menu-toggle {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  gap: 6px;
  width: 30px;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  width: 100%;
  background: #000;
  display: block;
  transition: 0.3s;
}
.mobile-nav {
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  display: block;
    transition:
    transform 0.35s cubic-bezier(.4,0,.2,1),
    opacity 0.25s ease;
}
.mobile-nav a{
    display: inline-block;
    width: 245px;
    text-align: center;
    transform-origin: center;
    transform: translateY(5px);
    transition: transform 0.25s ease;
    color: #1c1c1c;
}
.mobile-nav a:hover {
    transform: scale(1.01);
    transform-origin: center;
}
#menu-toggle:checked ~ .mobile-nav-wrap {
  height: 30px;
}

#menu-toggle:checked ~ .mobile-nav-wrap .mobile-nav {
  transform: scaleY(1);
  opacity: 1;
}
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}
#flexNav {
    display: inline;
    margin-top: 10px;
}
a, a:visited, a :active{
  color: #1c1c1c;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s ease;
  transform-origin: left;
  text-align: left;
}
.projectGrid,
.film-grid,
.college-grid,
.investigation-grid,
.high-school-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 40px;
  padding-top: 40px;
}
.project,
.film,
.college,
.investigation,
.high-school{
  background-color: #eff1ed;
  padding: 25px;
  opacity: 0;
  justify-items: center;
  transform: translateY(20px) scale(1); 
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}
.project.visible,
.film.visible,
.college.visible,
.investigation.visible,
.high-school.visible {
  opacity: 1;
  transform: translateY(0);
}
.project:hover,
.film:hover,
.college:hover,
.investigation:hover,
.high-school:hover{
  transform: scale(1.03);
}
.project-video, 
.film-video, 
.art-image{
  margin: 10px;
  position: relative;
  width: 100%;
  height: 80%;
  background-color: white;
}
.project h2, 
.film h2 {
  display: inline-block;
}
#ladybug,
#mirror-lake,
#surreal {
  grid-column: 1/3;
}
#apple, 
#candles, 
#web, 
#peak, 
#malodor, 
#exploding {
  grid-column: 2/4;
}
#fish {
  grid-row: 3/5;
}
#denman,
#malodor {
  grid-row: 2/4;
}
#abstraction,
#harlequin {
  grid-row: 2/5;
}
#small-study {
  grid-column: 3/4;
  grid-row: 1/3;
}
