* {
    background-color: #f4f1de;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3d405b;
    font-size: 16px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;  
    padding: 0 2rem;
}
header {
    display: grid;
    grid-template-columns: 300px auto auto 300px;
    grid-template-rows: auto auto;
    text-align: center;
}
.name {
    grid-column: 2/4;
    grid-row: 1/2;
}
.nav {
    grid-column: 2/4;
    grid-row: 2/3;
}
.email {
    grid-column: 4/5;
    grid-row: 1/2
}
a {
    text-decoration: none;
    border: 2px solid #f2cc8f;
    border-radius: 5px;
    background-color: #f2cc8f;
}
.homeGrid {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: 300px 100px;
}
.demoreel {
    grid-column: 1/2;
    grid-row:1/3;
}
.highlights {
    grid-column: 2/3;
    grid-row: 1/2;
}
.skills {
    grid-column: 2/3;
    grid-row: 2/3
}