:root {
    background-color: #eff1ed;
    font-family: 'elizeth', serif;
    color: #1c1c1c;
    font-size: 13px;
}
.container {
    background-color: #fff;
    margin: 30px 60px;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5);
    padding: 80px;
}
.headGrid {
    display: grid;
    grid-template-columns: minmax(0, 900px) 1fr 1fr;
    grid-template-rows: auto;
}
hr {
  grid-column: 1 / -1;
  margin: 0;
  border: none;
}
.top_hrule {
  height: 1px;
  background-color: #1c1c1c;
  margin-top: 8px;
}
.low_hrule {
  height: 100px;
  background-color: #1c1c1c;
}
h1 {
  font-size: 80px;
  grid-column: 1 / -1;
  margin: 6px 0;
}
.mobile-nav-wrap {
    grid-column: 1/ -1;
}
.headGrid > p {
  margin: 0;
}
#menu-toggle {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  gap: 6px;
  width: 30px;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  width: 100%;
  background: #000;
  display: block;
  transition: 0.3s;
}
.mobile-nav {
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  display: block;
    transition:
    transform 0.35s cubic-bezier(.4,0,.2,1),
    opacity 0.25s ease;
}
.mobile-nav a{
    display: inline-block;
    width: 245px;
    text-align: center;
    transform-origin: center;
    transform: translateY(5px);
    transition: transform 0.25s ease;
    color: #1c1c1c;
}
.mobile-nav a:hover {
    transform: scale(1.01);
    transform-origin: center;
}
#menu-toggle:checked ~ .mobile-nav-wrap {
  height: 30px;
}

#menu-toggle:checked ~ .mobile-nav-wrap .mobile-nav {
  transform: scaleY(1);
  opacity: 1;
}
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}
#flexNav {
    display: inline;
    margin-top: 10px;
}
a, a:visited, a :active{
  color: #1c1c1c;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.2s ease;
  transform-origin: left;
  text-align: left;
}
-------------------------------------

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%; 
}
.project {
    background-color: red;
    height: 30px;
    padding: 10px;
}
