* {
    background-color: #f4f1de;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3d405b;
}
header {
    display: grid;
    grid-template-columns: 400px auto auto 400px;
    grid-template-rows: auto auto;
}
.name {
    grid-column: 2/4;
    grid-row: 1/2;
}
.nav {
    grid-column: 2/4;
    grid-row: 2/3;
}
.email {
    grid-column: 4/5;
    grid-row: 1/2
}