:root {
    background-color: #eff1ed;
    font-family: 'elizeth', serif;
    color: #1c1c1c;
    font-size: 13px;
}
.container {
    background-color: #fff;
    margin: 30px 60px;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.5);
    padding: 80px;
}
.headGrid {
    display: grid;
    grid-template-columns: minmax(0, 900px) 1fr 1fr;
    grid-template-rows: auto;
}
hr {
  grid-column: 1 / -1;
  margin: 0;
  border: none;
}
.top_hrule {
  height: 1px;
  background-color: #1c1c1c;
  margin-top: 8px;
}
.low_hrule {
  height: 100px;
  background-color: #1c1c1c;
}
h1 {
  font-size: 80px;
  grid-column: 1 / -1;
  margin: 6px 0;
}
.headGrid > p {
  margin: 0;
}
a {
  text-decoration: none;
}
#menu-toggle {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  gap: 6px;
  width: 30px;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  width: 100%;
  background: #000;
  display: block;
  transition: 0.3s;
}
.mobile-nav {
  max-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: max-height 0.3s ease;
}
#menu-toggle:checked ~ .mobile-nav {
  max-height: 200px;
}
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}
#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}
#flexNav {
    display: inline;
    margin-top: 10px;
}
.link {
    padding-right: 110px;
}